@charset "UTF-8";
@import './assets/fonts/fonts.css';
/*reset default styles*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-family: Lato;
  box-sizing: border-box;
  background-color: #2d303a;
  scroll-behavior: smooth;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 0px 40px 0px 40px;
}

.visible-hidden {
  position: absolute;
  top: -200px;
  user-select: none;
}

section {
  border-bottom: 6px solid;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
  color: #767e9e;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  padding-top: 10px;
  font-weight: 900;
  font-size: 30px;
}
section p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
section.section_maincolor_brand {
  background-color: #f06c64;
  border-color: #ea676b;
  color: #f0d8d9;
}
section.section_maincolor_dark {
  background-color: #2d303a;
  border-color: #323746;
  color: #767e9e;
}
section.section_maincolor_dark h1,
section.section_maincolor_dark h2,
section.section_maincolor_dark h3,
section.section_maincolor_dark h4,
section.section_maincolor_dark h5,
section.section_maincolor_dark h6 {
  color: #666d89;
}
section.section_maincolor_light {
  background-color: #f2f2f2;
  border-color: #ffffff;
  color: #767e9e;
}
section.section_maincolor_light h1,
section.section_maincolor_light h2,
section.section_maincolor_light h3,
section.section_maincolor_light h4,
section.section_maincolor_light h5,
section.section_maincolor_light h6 {
  color: #666d89;
}

article {
  padding-top: 10px;
  padding-bottom: 10px;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  padding-top: 10px;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
}
article p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social ul li {
  display: inline-block;
}
.social ul li:not(:first-child) {
  margin-left: 5px;
}
.social__icon {
  width: 32px;
  height: 32px;
  display: block;
}
.social__icon_facebook {
  background-image: url(./assets/socials/ico-facebook.svg);
}
.social__icon_google {
  background-image: url(./assets/socials/ico-google-plus.svg);
}
.social__icon_twitter {
  background-image: url(./assets/socials/ico-twitter.svg);
}
.social__icon_linkedin {
  background-image: url(./assets/socials/ico-linkedin.svg);
}

.site-header {
  background-color: #2d303a;
  height: 95px;
  border-bottom: 6px solid #323746;
  color: #ffffff;
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
}
.site-header__nav {
  justify-self: left;
  display: inline-block;
  font-size: 12px;
  margin-top: 6px;
  /*Как обойти?*/
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
}
.logo__asterisk {
  color: #f06c64;
}

.nav {
  font-weight: 700;
  text-transform: uppercase;
}
.nav ul {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}
.nav__item {
  margin-right: 2.2em;
}
.nav__item a {
  position: relative;
}
.nav__item_focus,
.nav__item a:hover {
  color: #f06c64;
}
.nav__item:not(:last-child) a:after {
  content: "·";
  color: #ffffff;
  right: -1.2em;
  position: absolute;
}

.home {
  background-color: #f06c64;
  border-bottom: #ea676b;
}

.slider-gallery {
  position: relative;
  max-height: 605px;
}
.slider-gallery__arrow {
  cursor: pointer;
  display: inline-block;
  background-image: url(./assets/gallery/arrow-left.svg);
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: 20px;
}
.slider-gallery__arrow:hover {
  opacity: 1;
}
.slider-gallery__arrow-right {
  right: 0px;
  transform: scale(-1, 1);
}
.slider-gallery ul li img {
  width: 100%;
}

.services {
  background-color: #f2f2f2;
  border-bottom-color: #ffffff;
  text-align: justify;
}
.services__list {
  padding-top: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.service-item {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-height: 150px;
  min-width: 33%;
  flex-basis: 33%;
  padding-left: 80px;
  background-position: 10px 5px;
  background-repeat: no-repeat;
}
.service-item p {
  max-height: 80px;
}
.service-item__design {
  background-image: url(./assets/services_icons/services-item-1.svg);
}
.service-item__ideas {
  background-image: url(./assets/services_icons/services-item-2.svg);
}
.service-item__love {
  background-image: url(./assets/services_icons/services-item-3.svg);
}
.service-item__layout {
  background-image: url(./assets/services_icons/services-item-4.svg);
}
.service-item__support {
  background-image: url(./assets/services_icons/services-item-5.svg);
}
.service-item__star {
  background-image: url(./assets/services_icons/services-item-6.svg);
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  flex-basis: 30%;
}
.portfolio__item {
  cursor: pointer;
}
.portfolio__item:nth-of-type(n + 13) {
  display: none;
}
.portfolio__item img {
  width: 100%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tags-list__item {
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.tags-list__item:hover, .tags-list__item_chosen {
  color: #dedede;
  border-color: #bbbbbb;
}

.employee-list {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.employee__photo {
  width: 100%;
}
.employee__name {
  padding-top: 15px;
}
.employee__social {
  padding-top: 15px;
}

.contact__content {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__form {
  flex-basis: 66%;
  padding-right: 20px;
}
.contact__info {
  flex-basis: 33%;
}

.form {
  position: relative;
  width: 100%;
}
.form__input {
  display: block;
  width: 100%;
  border: #d6564f 2px solid;
  border-radius: 5px;
  background-color: #d6564f;
  padding: 12px 10px;
  margin-bottom: 15px;
  font-size: 12px;
}
.form__input:focus {
  border-color: #ea676b;
  outline: none;
}
.form__input:focus:invalid {
  background-color: #ee4d44;
}
.form__input::placeholder {
  color: #f48c8f;
}
.form__input_multiline {
  height: 150px;
  resize: none;
}
.form__btn {
  cursor: pointer;
  display: block;
  border: 2px solid;
  border-radius: 5px;
  padding: 12px 30px;
}
.form__btn_submit {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-color: #fbc65f;
  background-color: #fbc65f;
  color: #886a30;
}
.form__btn_submit:focus, .form__btn_submit:hover {
  border-color: #ffc248;
  outline: none;
}

.info {
  padding-top: 0px;
}
.info.article .article__header {
  padding-top: 0px;
}
.info__record {
  padding-left: 20px;
  font-size: 12px;
  line-height: 22px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.info__record_adress {
  background-image: url(./assets/contacts/ico-location.svg);
  background-position: 3px center;
}
.info__record_phone {
  background-image: url(./assets/contacts/ico-phone.svg);
}
.info__record_email {
  background-image: url(./assets/contacts/ico-mail.svg);
}

.site-footer {
  background-color: #2d303a;
  border-color: #323746;
  color: #767e9e;
  height: 76px;
}
.site-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__copyright {
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
}

/*# sourceMappingURL=style.css.map */
