.employee-list {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: -ms-flexbox;
        -ms-flex-flow: row wrap;
        -ms-flex-pack: justify;

        .employee {
            -ms-flex: 0 1 32%;
            margin-bottom: 20px;
        }
    }

    @media all and (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .employee {
            -ms-flex: 0 1 100%;
            margin-bottom: 20px;
        }
    }
}

.employee {
    &__photo {
        width: 100%;
    }

    &__name {
        position: relative;
        padding-top: 15px;
        padding-bottom: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__social {
        padding-top: 15px;
    }
}
