.site-header {
    background-color: $color-dark-background;
    border-bottom: 6px solid $color-dark-border;
    color: $color-header-text;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
    }

    &__nav {
        justify-self: left;
        display: inline-block;
        font-size: 12px;
        margin-top: 6px; /*Как обойти?*/
    }

    @media (min-width: 768px) {
        &__burger {
            display: none;
        }
    }

    @media (max-width: 767px) {
        &__nav {
            display: none;
        }

        &__container {
            justify-content: center;
        }

        &__burger {
            cursor: pointer;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-image: url(./assets/header/Burger-menu-icon.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 65px;
        }
    }
}
