.slider-gallery {
    position: relative;
    max-height: 605px;

    &__arrow {
        cursor: pointer;
        display: inline-block;
        background-image: url(./assets/gallery/arrow-left.svg);
        opacity: 0.5;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 5;
        width: 20px;
    }

    &__arrow:hover {
        opacity: 1;
    }

    &__arrow-right {
        right: 0px;
        transform: scale(-1, 1);
    }

    & ul li img {
        width: 100%;
    }

    @media (max-width: 767px) {
        &__arrow-left {
            left: -15px;
        }

        &__arrow-right {
            right: -15px;
        }
    }
}
