.contact {
    &__content {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__form {
        flex-basis: 66%;
        padding-right: 20px;
    }

    &__info {
        flex-basis: 33%;
    }
}

.form {
    &__input {
        display: block;
        width: 100%;
        border: $color-brand-input 2px solid;
        border-radius: 5px;
        background-color: $color-brand-input;
        padding: 12px 10px;
        margin-bottom: 15px;

        &:focus {
            border-color: $color-brand-border;
            outline: none;
        }

        &:focus:invalid {
            background-color: $color-brand-input-invalid;
        }

        &::placeholder {
            color: $color-brand-input-placeholder;
        }

        &_multiline {
            height: 150px;
            resize: none;
        }
    }

    &__btn {
        cursor: pointer;
        display: block;
        border: 2px solid;
        border-radius: 5px;
        padding: 12px 30px;

        &_submit {
            text-transform: uppercase;
            font-weight: bold;
            border-color: $color-btn-submit;
            background-color: $color-btn-submit;
            color: $color-btn-submit-text;

            &:focus,
            &:hover {
                border-color: $color-btn-submit-hover;
                outline: none;
            }
        }
    }
}
