.article {
    &__header {
        margin-bottom: 10px;
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
    }

    %__description {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }
}
