article {
    padding-top: 10px;
    padding-bottom: 10px;

    h3 {
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
