.nav {
  font-weight: 700;
  text-transform: uppercase;

  ul {
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 2.2em;

    a {
      position: relative;
    }

    &_focus,
    a:hover {
      color: $color-brand;
    }

    &:not(:last-child) a:after {
      content: '·';
      color: $color-header-text;
      right: -1.2em;
      position: absolute;
    }
  }
}
