html {
    font-family: Lato;
    box-sizing: border-box;
    background-color: #2d303a;
    scroll-behavior: smooth;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0px 40px 0px 40px;
}

.visible-hidden {
    position: absolute;
    top: -200px;
    user-select: none;
}
